/* this file is appplied to all pages/components */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  /* background-color: aliceblue; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot-container {
  width: 40vw;
  position: relative;
}

.project-screenshot {
  object-fit: contain;
}

.title {
  font-size: 5rem;
}

.title-section {
  height: 90vh;
}

/* .container {
  background-color: powderblue;
} */

.link {
  border: 2px solid black;
  padding: 2px 2px;
}

.contacts {
  text-align: left;
  height: 40vh;
  font-size: 1.5rem;
}